%M% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%% ex: ft=erlang ts=4 sw=4 et
%%%
%%% This file is part of mochicown released under the MIT license.
%%% See the NOTICE for more information.


{erl_opts, [debug_info, {parse_transform, mochicow}]}.

{deps,[
    {mochicow, ".*", {git, "git://github.com/benoitc/mochicow.git",
                     {branch, "master"}}}
]}.


